    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
    }
ul{
    list-style: none
}
.box1{
    height: 71px;
    line-height: 71px;
    background:#242424 ;
}
.box>.box1>.logo{
    width: 162px;
    height: 70px;
    background:url(topbar.png)no-repeat;
    margin-left: 170px;
    float: left;
    margin-right: 20px;
}
.box>.box1>.zuo1>{
    float: left;
}
.box>.box1>.zuo1>li>a{
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    color: #cccccc;
    text-decoration: none;
}
.box>.box1>.zuo1>li>.q1{
    background:#000000;
    color: white;
}
.box>.box1>.zuo1>li>a:hover{
    background: #000000;
    color: white;
}
.box>.box1>.logo2{
    width: 60px;
    height: 31px;
    background: url(topbar.png)-160px 231px;
    margin-left: -47px;
    float: left;
}
.box>.box1>a{
    color: #787878;
    text-decoration: none;
    font-size: 15px;
    padding-right: 317px;
    margin-left: 15px;
    float: right;
}
.box>.box1>a:hover{
    color: seashell;
    text-decoration: underline;
}
.box>.box1>.zuo2>.ssk1>a{
    color:#cccccc;
    text-decoration: none;
    font-size: 13px;
    }
.box>.box1>.zuo2>.ssk1>a:hover{
   border: white;
   color: white
}
.box>.box1>.zuo2>.ssk1:hover{
    border-color: white;
}
.box>.box1>.zuo2>.ssk1{
    float:right;
    width: 97px;
    height: 34px;
    box-sizing: border-box;
    padding-left: 16px;
    border: 1px solid #4f4f4f;
    line-height: 30px;
    border-radius: 20px;
    margin: 19px 0 0 12px;
}
.box>.box1>.zuo2>.ssk2{
    float: right;
    height: 35px;
    box-sizing: border-box;
    padding-right: 36px;
    border: 1px solid #4f4f4f;
    line-height: 35px;
    border-radius: 20px;
    margin: 19px 0 0 12px;
    background: white;
}
.box>.box1>.zuo2>.ssk2>.logo3{
    width:25px ;
    height: 26px;
    background: url(topbar.png)0px 117px;
}
.box>.box1>.zuo2>.ssk2>input{
    position: relative;
    right: -26px;
    top: -28px;
    width: 109px;
    border: 0;
    outline: none;
}
.box2{
    height: 36px;
    line-height: 36px;
    background: #c20c0c;
    position: relative;
}
.box2>ul{
    position: absolute;
    padding-left: 359px;
    

}
.box2>ul>li{
    float: left;
    padding:0 34px;
}
.box2>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.box2>ul>li>a:hover{
    background: #9b0909;
    border-radius: 20px;
}
.box2>.box22{
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color:#c00014;
    left: 408px;
    bottom: 36px;
}
.box3{
    position: relative;
    width: 100%;
    height: 285px;
    background-color: #b2e3e0;
}
.box3>img{
    position:absolute;
    height: 285px;
    width: 732px;
    left:410px;
    left: 50%;
    margin-left: -490px;
    }
.box3>.aaa{
    position:absolute;
    width: 253px;
    height: 243px;
    background: url(222.png);
    margin-left: 242px;
    left: 50%;
}
.box3>div>.bbb{
    position:absolute;
    width: 37px;
    height: 63px;
    background:url(333.png)no-repeat 0px -361px ;
    top: 35%;
    left: 50%;
    margin-left: -550px;
}
.box3>div>.bbb:hover{
    position:absolute;
    width: 37px;
    height: 63px;
    background:url(333.png)no-repeat 0px -431px ;
    top: 35%;
    left: 50%;
    margin-left: -550px
}
.box3>div>.ccc{
    position: absolute;
    width: 37px;
    height: 63px;
    background: url(333.png)no-repeat 0px -508px;
    top: 35%;
    left: 50%;
    margin-left: 518px;
}
.box3>div>.ccc:hover{
    position:absolute;
    width: 37px;
    height: 63px;
    background: url(333.png)no-repeat 0px -578px;
    top: 35%;
    left: 50%;
    margin-left: 518px;
}
.box3>p{
    width: 253px;
    height: 42px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: 242px;
    margin-top:143px ;
    font-size: 10px;
    background: #2b2d31;
    color:#707172;
}
.box4{
    height:2000px;
    position: relative;
    top: auto;
    margin-top: auto;
    left: auto;
    margin-left: auto;
    
}
.box4>.p1{
    position: absolute;
    width: 659px;
    height: 51px;
    border-bottom: 2px solid #c10d0c;
    right: 50%;
    margin-right: -204px;
}
.box4>.p1>.p>i{
    position: absolute;
    width: 50px;
    height: 30px;
    background: url(index.png)-216px -153px;
    margin-top: 11px;
    margin-left: -10px;
}
.box4>.p1>.p111{
    float:left;
    padding-left: 133px;
    padding-top: 21px;
    font-size: 12px;
    
}
.box4>.p1>.p111>li{
    float: left;
    margin-right: 25px;
}
.box4>.p1>.p111>li>span{
    position: absolute;
    padding: 1px 1px 10px 8px;
    margin-top: 3px;
    margin-left:-12px;
    border-left: 1px solid grey;
    font-size: 0;
    float: right;
}
.box4>.p1>.p111>li>a{
    text-decoration: none;
    color: #929292;
}
.box4>.p1>.p111>li>a:hover{
    text-decoration: underline;

}
.box4>.p1>.m1{
    position: absolute;
    font-size: 21px;
    margin-top: 14px;
    margin-left: 33px;
    text-decoration: none;
    color: #333333;
}
.box4>.p1>.p222{
    float:right;
}
.box4>.p1>.p222>li{
    float:right;
}
.box4>.p1>.p222>li>i{
    position: absolute;
    width: 50px;
    height: 30px;
    background: url(index.png)3px -232px;
    margin-top: 16px;
    margin-left:-31px ;
}
.box4>.p1>.p222>li>a{
    position: absolute;
    font-size: 13px;
    margin-top: 21px;
    margin-left: -59px;
    text-decoration: none;
    color: #929292;
}
.box4>.p1>.p222>li>a:hover{
    text-decoration: underline;
}
.box5{
    position:absolute;
    width: 253px;
    height: 110px;
    left: 50%;
    margin-left:243px;
}
.box5>.beijing11{
    position: absolute;
    width: 249px;
    height: 110px;
    background: url(index.png)no-repeat;
    z-index: 1;
    border: 1px solid #d4d4d4;
}
.box5>p{
    position: absolute;
    width: 201px;
    z-index: 2;
    font-size: 1px;
    text-align: left;
    margin-top: 17px;
    margin-left: 33px;
}
.box5>.beijing22{
    position: absolute;
    background: url(index.png)411px 270px;
    width: 99px;
    height: 31px;
    z-index: 3;
    margin-top: 60px;
    margin-left: 73px;
    border: 1px solid #b90c12;
    border-radius:4px;
}
.box5>.beijing22>a{
    position: absolute;
    margin-left: 25px;
    font-size: 13px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    
}
.box5>.beijing22:hover{
    position: absolute;
    background: url(index.png)303px 270px;
    border:1px solid red;
    border-radius: 4px;
    
}
.box6{
    position:absolute;
    width: 733px;
    height: 510px;
    left: 50%;
    margin-left:-490px;
    margin-top: 53px;
}
.box6>ul>li>a>img{
    position: relative;
    float: left;
    width: 141px;
    height: 142px;
    margin-top: 13px;
    margin-left: 32px;
}
.box6>.ul12>li>a>i{
    background: url(6666.jpg)757px -165px;
    position:relative;
    float: left;
    width: 141px;
    height: 142px;
    margin-top: -141px;
    margin-left: 32px;
}
.box6>.ul13>li{
position: relative;
float: left;
width: 141px;
height: 30px;
margin-top: -28px;
margin-left: 32px;
background:url(coverall.png)0px -537px;
}
.box6>.ul13>li>.bb1{
    position: relative;
    float: left;
    height: 27px;
    width: 21px;
    background: url(iconall.png)2px -16px;
    margin-left: 9px;
}
.box6>.ul13>li>span{
    position: relative;
    color: #cbcbcb;
    font-size: 11px;
}
.box6>.ul13>li>a{
    position: relative;
    float: right;
    height: 27px;
    width: 21px;
    background: url(iconall.png)1px 5px;
    margin-right: 3px;}
    .box6>.ul13>li>a:hover{
        background: url(iconall.png)1px -55px;
    }
    .box6>.ul122>li{
        position: relative;
        float: left;
        width: 141px;
        height: 75px;
        margin-top: 2px;
        margin-left: 33px;   }
        .box6>.ul122>li>a{
            font-size: 10px;
            text-decoration: none;
            color: #333333;
        }
        .box6>.ul122>li>a:hover{
            text-decoration: underline;
        }
        .box7>.p7{
            position: absolute;
            width: 659px;
            height: 51px;
            border-bottom: 2px solid #c10d0c;
            margin-left: -455px;
            left: 50%;
            margin-top:-45px; 
        }
        .box7>.p7>.p77>i{
            position: absolute;
            width: 50px;
            height: 30px;
            background: url(index.png)-216px -153px;
            margin-top: 11px;
            margin-left: -10px;
        }
        .box7>.p7>.m7{
            position: absolute;
            font-size: 21px;
            margin-top: 14px;
            margin-left: 33px;
            text-decoration: none;
            color: #333333;}
         .box8{
             width: 249px;
             height: 1700px;
             position: absolute;
             border: 1px solid #d4d4d4;
             left: 50%;
             top: 8%;
             margin-top: -34px;margin-left: 243px; 
             
         }
        .box8>.p8{
            position: absolute;
            width: 194px;
            height: 27px;
            border-bottom: 1px solid #d4d4d4;
            left: 25px;
            margin-top: 15px;
        }
        .box8>.p8>.p8you{
            float: left;
        }
        .box8>.p8>.p8you>li>h5{
           margin-top: 3px;
        }
        .box8>.p8>.p8zuo{
            float: right;
        }
        .box8>.p8>.p8zuo>li>a{
            font-size: 10px;
            color: #929292;
            text-decoration: none;
        }
        .box8>.p8>.p8zuo>li>a:hover{
            text-decoration: underline;
        }
        .box8>.p88>.p888{
          position: absolute;
          width: 195px;
          height: 65px;
          border: 1px solid #e9e9e9;
          left: 10%;
          margin-top: 61px;
        }
        .box8>.p88>a>img{
            width: 63px;
            height: 63px;
        }
        .box8>.p88>a>.p8881{
            position: absolute;
            margin-left: 26px;
            margin-top: 62px;
        }
        .box8>.p88>a>span{
            position:absolute;
            margin-left: 75px;
            margin-top: 9px;
            font-size: 13px;
            font-weight: bold;
            color: #4b4b4b;
        }
        .box8>.p88>a>p{
            position: absolute;
            margin-top: 37px;
            margin-left: 75px;
            font-size: 13px;
            color: #929292;
        }
        .box8>.p88>a{
            background: #fafafa;
        }
        .box8>.p88>a:hover{
            background: #f2f2f2;
        }
        .box8>.p99>.p999{
          position: absolute;
          width: 195px;
          height: 65px;
          border: 1px solid #e9e9e9;
          left: 10%;
          margin-top: 148px;
        }
        .box8>.p99>a>img{
            width: 63px;
            height: 63px;
        }
        .box8>.p99>a>.p9991{
            position: absolute;
            margin-left: 26px;
            margin-top: 149px;
        }
        .box8>.p99>a>span{
            position:absolute;
            margin-left: 75px;
            margin-top: 9px;
            font-size: 13px;
            font-weight: bold;
            color: #4b4b4b;
        }
        .box8>.p99>a>p{
            position: absolute;
            margin-top: 37px;
            margin-left: 75px;
            font-size: 13px;
            color: #929292;
        }
        .box8>.p99>a{
            background: #fafafa;
        }
        .box8>.p99>a:hover{
            background: #f2f2f2;
        }
        .box8>.p10>.p100{
          position: absolute;
          width: 195px;
          height: 65px;
          border: 1px solid #e9e9e9;
          left: 10%;
          margin-top: 235px;
        }
        .box8>.p10>a>img{
            width: 63px;
            height: 63px;
        }
        .box8>.p10>a>.p1001{
            position: absolute;
            margin-left: 26px;
            margin-top: 235px;
        }
        .box8>.p10>a>span{
            position:absolute;
            margin-left: 75px;
            margin-top: 9px;
            font-size: 13px;
            font-weight: bold;
            color: #4b4b4b;
        }
        .box8>.p10>a>p{
            position: absolute;
            margin-top: 37px;
            margin-left: 75px;
            font-size: 13px;
            color: #929292;
        }
        .box8>.p10>a{
            background: #fafafa;
        }
        .box8>.p10>a:hover{
            background: #f2f2f2;
        }
        .box8>.p55>.p555{
          position: absolute;
          width: 195px;
          height: 65px;
          border: 1px solid #e9e9e9;
          left: 10%;
          margin-top: 322px;
        }
        .box8>.p55>a>img{
            width: 63px;
            height: 63px;
        }
        .box8>.p55>a>.p5555{
            position: absolute;
            margin-left: 26px;
            margin-top: 322px;
        }
        .box8>.p55>a>span{
            position:absolute;
            margin-left: 75px;
            margin-top: 9px;
            font-size: 13px;
            font-weight: bold;
            color: #4b4b4b;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.p55>a>p{
            position: absolute;
            margin-top: 37px;
            margin-left: 75px;
            font-size: 13px;
            color: #929292;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.p55>a{
            background: #fafafa;
        }
        .box8>.p55>a:hover{
            background: #f2f2f2;
        }
        .box8>.p66>.p666{
          position: absolute;
          width: 195px;
          height: 65px;
          border: 1px solid #e9e9e9;
          left: 10%;
          margin-top: 409px;
        }
        .box8>.p66>a>img{
            width: 63px;
            height: 63px;
        }
        .box8>.p66>a>.p6666{
            position: absolute;
            margin-left: 26px;
            margin-top: 409px;
        }
        .box8>.p66>a>span{
            position:absolute;
            margin-left: 75px;
            margin-top: 9px;
            font-size: 13px;
            font-weight: bold;
            color: #4b4b4b;
        }
        .box8>.p66>a>p{
            position: absolute;
            margin-top: 37px;
            margin-left: 75px;
            font-size: 13px;
            color: #929292;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.p66>a{
            background: #fafafa;
        }
        .box8>.p66>a:hover{
            background: #f2f2f2;
        }
        .box8>.p77{
            position:absolute;
            width: 195px;
            height: 28px;
            border:1px solid #e9e9e9;
            margin-top: 487px;
            left: 10%;
            background: url(button2.png)-2px -60px ;
            border-radius: 4px;
            text-align: center;
        }
        .box8>.p77>a{
            text-decoration: none;
            font-size: 10px;
            font-weight: bolder;
            color: #4b4b4b;   
        }
        .box8>.p77:hover{
            background: url(button2.png)-2px -142px ;
        }
        .box8>.p2323{
            position: absolute;
            width: 194px;
            height: 27px;
            border-bottom: 1px solid #d4d4d4;
            left: 25px;
            margin-top: 545px;
        }
        .box8>.p2323>.p2323you{
            float: left;
        }
        .box8>.p2323>.p2323you>li>h5{
           margin-top: 3px;
        }
        .box8>.pu1>.pu11{
          position: absolute;
          width: 195px;
          height: 50px;
          left: 10%;
          margin-top: 600px;
        }
        .box8>.pu1>a>img{
            width: 50px;
            height: 50px;
        }
        .box8>.pu1>a>.pu111{
            position: absolute;
            margin-left: 26px;
            margin-top: 600px;
        }
        .box8>.pu1>a>span{
            position:absolute;
            margin-left: 60px;
            margin-top: 6px;
            font-size: 10px;
            font-weight: bold;
            color: #4b4b4b;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.pu1>a>p{
            position: absolute;
            margin-top: 26px;
            margin-left: 60px;
            font-size: 10px;
            color: #929292;
        }
        .box8>.pu1>a{
            background: #fafafa;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .box8>.pu1>a>span:hover{
            text-decoration: underline;
        }
        .box8>.pu2>.pu22{
          position: absolute;
          width: 195px;
          height: 50px;
          left: 10%;
          margin-top: 662px;
        }
        .box8>.pu2>a>img{
            width: 50px;
            height: 50px;
        }
        .box8>.pu2>a>.pu222{
            position: absolute;
            margin-left: 26px;
            margin-top: 662px;
        }
        .box8>.pu2>a>span{
            position:absolute;
            margin-left: 60px;
            margin-top: 6px;
            font-size: 10px;
            font-weight: bold;
            color: #4b4b4b;
            width: 120px;
        }
        .box8>.pu2>a>p{
            position: absolute;
            margin-top: 26px;
            margin-left: 60px;
            font-size: 10px;
            color: #929292;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.pu2>a{
            background: #fafafa;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .box8>.pu2>a>span:hover{
            text-decoration: underline;
        }
        .box8>.pu3>.pu33{
          position: absolute;
          width: 195px;
          height: 50px;
          left: 10%;
          margin-top: 724px;
        }
        .box8>.pu3>a>img{
            width: 50px;
            height: 50px;
        }
        .box8>.pu3>a>.pu333{
            position: absolute;
            margin-left: 26px;
            margin-top: 724px;
        }
        .box8>.pu3>a>span{
            position:absolute;
            margin-left: 60px;
            margin-top: 6px;
            font-size: 10px;
            font-weight: bold;
            color: #4b4b4b;
            width: 120px;
        }
        .box8>.pu3>a>p{
            position: absolute;
            margin-top: 26px;
            margin-left: 60px;
            font-size: 10px;
            color: #929292;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.pu3>a{
            background: #fafafa;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .box8>.pu3>a>span:hover{
            text-decoration: underline;
        }
        .box8>.pu4>.pu44{
          position: absolute;
          width: 195px;
          height: 50px;
          left: 10%;
          margin-top: 786px;
        }
        .box8>.pu4>a>img{
            width: 50px;
            height: 50px;
        }
        .box8>.pu4>a>.pu444{
            position: absolute;
            margin-left: 26px;
            margin-top: 786px;
        }
        .box8>.pu4>a>span{
            position:absolute;
            margin-left: 60px;
            margin-top: 6px;
            font-size: 10px;
            font-weight: bold;
            color: #4b4b4b;
            width: 120px;
        }
        .box8>.pu4>a>p{
            position: absolute;
            margin-top: 26px;
            margin-left: 60px;
            font-size: 10px;
            color: #929292;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.pu4>a{
            background: #fafafa;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .box8>.pu4>a>span:hover{
            text-decoration: underline;
        }
        .box8>.pu5>.pu55{
          position: absolute;
          width: 195px;
          height: 50px;
          left: 10%;
          margin-top: 848px;
        }
        .box8>.pu5>a>img{
            width: 50px;
            height: 50px;
        }
        .box8>.pu5>a>.pu555{
            position: absolute;
            margin-left: 26px;
            margin-top: 848px;
        }
        .box8>.pu5>a>span{
            position:absolute;
            margin-left: 60px;
            margin-top: 6px;
            font-size: 10px;
            font-weight: bold;
            color: #4b4b4b;
            width: 120px;
        }
        .box8>.pu5>a>p{
            position: absolute;
            margin-top: 26px;
            margin-left: 60px;
            font-size: 10px;
            color: #929292;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.pu5>a{
            background: #fafafa;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .box8>.pu5>a>span:hover{
            text-decoration: underline;
        }
        .box8>.pu6>.pu66{
          position: absolute;
          width: 195px;
          height: 50px;
          left: 10%;
          margin-top: 910px;
        }
        .box8>.pu6>a>img{
            width: 50px;
            height: 50px;
        }
        .box8>.pu6>a>.pu666{
            position: absolute;
            margin-left: 26px;
            margin-top: 910px;
        }
        .box8>.pu6>a>span{
            position:absolute;
            margin-left: 60px;
            margin-top: 6px;
            font-size: 10px;
            font-weight: bold;
            color: #4b4b4b;
            width: 120px;
        }
        .box8>.pu6>a>p{
            position: absolute;
            margin-top: 26px;
            margin-left: 60px;
            font-size: 10px;
            color: #929292;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 120px;
        }
        .box8>.pu6>a{
            background: #fafafa;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .box8>.pu6>a>span:hover{
            text-decoration: underline;
        }
        .box9{
            position: absolute;
            margin-left: -490px;
            margin-top: 590px;
            width: 733px;
            height: 220px;
            left: 50%;
        }
        .box9>ul>li>a>img{
    position: relative;
    float: left;
    width: 141px;
    height: 142px;
    margin-top: 13px;
    margin-left: 32px;
}
.box9>.ul12>li>a>i{
    background: url(6666.jpg)757px -165px;
    position:relative;
    float: left;
    width: 141px;
    height: 142px;
    margin-top: -141px;
    margin-left: 32px;
}
.box9>.ul13>li{
position: relative;
float: left;
width: 141px;
height: 30px;
margin-top: -28px;
margin-left: 32px;
background:url(coverall.png)0px -537px;
}
.box9>.ul13>li>.bb1{
    position: relative;
    float: left;
    height: 27px;
    width: 21px;
    background: url(iconall.png)2px -16px;
    margin-left: 9px;
}
.box9>.ul13>li>span{
    position: relative;
    color: #cbcbcb;
    font-size: 11px;
}
.box9>.ul13>li>a{
    position: relative;
    float: right;
    height: 27px;
    width: 21px;
    background: url(iconall.png)1px 5px;
    margin-right: 3px;}
    .box9>.ul13>li>a:hover{
        background: url(iconall.png)1px -55px;
    }
    .box9>.ul122>li{
        position: relative;
        float: left;
        width: 141px;
        height: 75px;
        margin-top: 2px;
        margin-left: 33px;   }
        .box9>.ul122>li>a{
            font-size: 10px;
            text-decoration: none;
            color: #333333;
        }
        .box9>.ul122>li>a:hover{
            text-decoration: underline;
        }
        .box7>.p7{
            position: absolute;
            width: 659px;
            height: 51px;
            border-bottom: 2px solid #c10d0c;
            margin-left: -455px;
            left: 50%;
            top: 29%;
            
        }
.box9>.ul12>li>a>i{
    background: url(6666.jpg)757px -165px;
    position:relative;
    float: left;
    width: 141px;
    height: 142px;
    margin-top: -141px;
    margin-left: 32px;
}
.box9>.ul13>li{
position: relative;
float: left;
width: 141px;
height: 30px;
margin-top: -28px;
margin-left: 32px;
background:url(coverall.png)0px -537px;
}
.box9>.ul13>li>.bb1{
    position: relative;
    float: left;
    height: 27px;
    width: 21px;
    background: url(iconall.png)2px -16px;
    margin-left: 9px;
}
.box9>.ul13>li>span{
    position: relative;
    color: #cbcbcb;
    font-size: 11px;
}
.box9>.ul13>li>a{
    position: relative;
    float: right;
    height: 27px;
    width: 21px;
    background: url(iconall.png)1px 5px;
    margin-right: 3px;}
    .box9>.ul13>li>a:hover{
        background: url(iconall.png)1px -55px;
    }
    .box9>.ul122>li{
        position: relative;
        float: left;
        width: 141px;
        height: 75px;
        margin-top: 2px;
        margin-left: 33px;   }
        .box9>.ul122>li>a{
            font-size: 10px;
            text-decoration: none;
            color: #333333;
        }
        .box9>.ul122>li>a:hover{
            text-decoration: underline;
        }
        .box10>.p1{
            position: absolute;
            width: 659px;
            height: 51px;
            border-bottom: 2px solid #c10d0c;
            margin-left: -455px;
            left: 50%;
            top: 49%;
            
        }
        .box10>.p1>.p11>i{
            position: absolute;
            width: 50px;
            height: 30px;
            background: url(index.png)-216px -153px;
            margin-top: 11px;
            margin-left: -10px;
        }
        .box10>.p1>.m10{
            position: absolute;
            font-size: 21px;
            margin-top: 14px;
            margin-left: 33px;
            text-decoration: none;
            color: #333333;}
            .box12{
            position: absolute;
            margin-left: -455px;
            margin-top: 962px;
            left: 50%;
            width: 659px;
            height: 233px;
            border: 1px solid #d4d4d4;
            background:#f5f5f5;}
            .box12>.die1>li>a>i{
               position: relative;
               float: left;
                background: url(coverall_8.png)0px -569px;
                width: 118px;
                height: 102px;
                margin: 0px 5px;
                left: 13px;
                top: 27px;
            }
            .box12>.die2>li>a>img{
                position: relative;
               float: left;
                background: url(coverall_8.png)0px -569px;
                width: 98px;
                height: 98px;
                margin: 1px 15px;
                left: 4px;
                top: -74px;
            }
            .box12>.die3>li>a>i{
               position: relative;
               float: left;
                background: url(coverall.png)0px -26px;
                width: 118px;
                height: 99px;
                margin: 0px 5px;
                left: 13px;
                top: -173px;
            }
            .box12>.die4>li>a>i{
               position: relative;
               float: left;
                background: url(iconall.png)0px -85px;
                width: 21px;
                height: 24px;
                margin: 0px 54px;
                left: 34px;
                top: -199px;
            }
                .box12>.die4>li>a>i:hover{
                    position: relative;
               float: left;
                background: url(iconall.png)0px -110px;
                width: 21px;
                height: 24px;
                margin: 0px 54px;
                left: 34px;
                top: -199px;
                }
                .box13>.v1{
            position: absolute;
            width: 659px;
            height: 51px;
            border-bottom: 2px solid #c10d0c;
            left:50% ;
            margin-top: 1215px;
            margin-left: -455px;
                }
        .box13>.v1>.v11>i{
            position: absolute;
            width: 50px;
            height: 30px;
            background: url(index.png)-216px -153px;
            margin-top: 11px;
            margin-left: -10px;
        }
        .box13>.v1>.m88{
            position: absolute;
            font-size: 21px;
            margin-top: 14px;
            margin-left: 33px;
            text-decoration: none;
            color: #333333;}

            .box12>.die5>li>a{
               position: relative;
               float: left;
                width: 118px;
                margin: 0px 5px;
                left: 13px;
                top: -192px;
                font-size: 10px;
                text-decoration: none;
                color: #333333;
            }
            .box12>.die5>li>a:hover{
                text-decoration: underline;
            }
            .box12>.die6>li>a{
               position: relative;
               float: left;
                width: 118px;
                margin: 0px 5px;
                left: 13px;
                top: -192px;
                font-size: 10px;
                text-decoration: none;
                color: #333333;
            }
            .box12>a>.huqis1{
                 position: absolute;
                 width: 17px;
                 height: 21px;
                 background: url(index.png)-260px -70px;
                 margin-top: 66px;
            }
            .box12>a>.huqis1:hover{
                 background: url(index.png)-280px -70px;
            }
            .box12>a>.huqis2{
                 position: absolute;
                 width: 17px;
                 height: 21px;
                 background: url(index.png)-300px -70px;
                 margin-top: 66px;
                 margin-left: 642px;
            }
            .box12>a>.huqis2:hover{
                background: url(index.png)-320px -70px;
            }
            .box16{
                width: 698px;
                height: 473px;
                position: absolute;
                left: 50%;
                margin-top: 1295px;
                margin-left: -467px;
                background: url(index_bill.png)no-repeat;
            }
            .box16>.box161>li>a>img{
                position: relative;
                width: 79px;
                height: 81px;
                float: left;
                margin-left: 103px;
                margin-right: 48px;
                left: -83px;
                top: 19px;
            }
            .box16>.box162>li>a>I{
                position: relative;
                float: left;
                background: url(coverall.png)0px -21px;
                width: 78px;
                height: 81px;
                margin-left: 103px;
                margin-right: 48px;
                left: -83px;
                top: -64px;
            }
            .box16>.box163>li>a{
                position: relative;
                float: left;
                margin-left: 129px;
                margin-right: 59px;
                left: -20px;
                top: -135px;
                font-weight: bolder;
                font-size: 14px;
                text-decoration: none;
                color: #333333;
            }
            .box16>.box163>li>a:hover{
                text-decoration: underline;
            }
            .box16>.box164>li>a{
                width: 224px;
                height: 33px;
                position: relative;
                left: 1px;
                top: -61px;
                float: left;
                margin-right: 8px;
                font-size: 10px;
                text-decoration: none;
                color:#333333;
                padding: 7px 27px;
            }
            .box16>.box164>li>a:hover{
                text-decoration: underline;
            }
            .beiji22{
                position: absolute;
                 width: 100%;
                 height: 2000px;
                 border: 1px solid #f5f5f5;
                 left: 50%;
                 margin-left: 491px;
                 background: #f5f5f5;
            }
            .beiji66{
                position: absolute;
                width:100%;
                height: 2000px;
                border: 1px solid #d4d4d4;
                right: 50%;
                 margin-right: 489px;
                 background: #f5f5f5;
            }
            .box16>.box165>li>.d1{
                position: absolute;
                float: left;
                width: 23px;
                height: 21px;
                background:url(index.png)-265px -267px;
                margin-top: 50px;
                margin-left: -580px;
            }
            .box16>.box165>li>.d2{
                position: absolute;
                float: left;
                width: 23px;
                height: 21px;
                background:url(index.png)-294px -267px;
                margin-top: 50px;
                margin-left: -552px;
            }
            .box16>.box165>li>.d1:hover{
                background: url(index.png)-265px -287px;;
            }
            .box16>.box165>li>.d2:hover{
                background:url(index.png)-294px -287px;
            }
            .box16>.box166>li>.d1{
                position: absolute;
                float: left;
                width: 23px;
                height: 21px;
                background:url(index.png)-265px -267px;
                margin-top: 50px;
                margin-left: -346px;
            }
            .box16>.box166>li>.d2{
                position: absolute;
                float: left;
                width: 23px;
                height: 21px;
                background:url(index.png)-294px -267px;
                margin-top: 50px;
                margin-left: -319px;
            }
            .box16>.box166>li>.d1:hover{
                background: url(index.png)-265px -287px;;
            }
            .box16>.box166>li>.d2:hover{
                background:url(index.png)-294px -287px;
            }
            .box16>.box167>li>.d1{
                position: absolute;
                float: left;
                width: 23px;
                height: 21px;
                background:url(index.png)-265px -267px;
                margin-top: 50px;
                margin-left: -114px;
            }
            .box16>.box167>li>.d2{
                position: absolute;
                float: left;
                width: 23px;
                height: 21px;
                background:url(index.png)-294px -267px;
                margin-top: 50px;
                margin-left: -86px;
            }
            .box16>.box167>li>.d1:hover{
                background: url(index.png)-265px -287px;;
            }
            .box16>.box167>li>.d2:hover{
                background:url(index.png)-294px -287px;
            }
            .box16>.box168>li>span{
                position: relative;
                float:left;
                width: 20px;
                text-align: center;
                margin-left: 4px;
                margin-top: 1px;
                top: -90px;
                left: 4px;
                margin-right: 208px;
                font-weight:bolder;
                color: #c93c3b;
            }
            .box16>.box169{
                position: absolute;
                width: 128px;
                height: 33px;
                left: 101px;
                top: 119px;
            }
            .box16>.box169>.x1{
                position: absolute;
                width: 52px;
                height: 21px;
                background: url(index.png)-265px -267px;
                top: 7px;
                left: 42px;
            }
            .box16>.box169>.x1:hover{
                background: url(index.png)-265px -287px;
            } 
            .box16>.box1610{
                position: absolute;
                width: 128px;
                height: 33px;
                left: 326px;
                top: 119px;
            }
            .box16>.box1610>.x1{
                position: absolute;
                width: 52px;
                height: 21px;
                background: url(index.png)-265px -267px;
                top: 7px;
                left: 42px;
            }
            .box16>.box1610>.x1:hover{
                background: url(index.png)-265px -287px;
            } 
            .box16>.box1611{
                position: absolute;
                width: 128px;
                height: 33px;
                left: 558px;
                top: 119px;
            }
            .box16>.box1611>.x1{
                position: absolute;
                width: 52px;
                height: 21px;
                background: url(index.png)-265px -267px;
                top: 7px;
                left: 42px;
            }
            .box16>.box1611>.x1:hover{
                background: url(index.png)-265px -287px;
            } 